.profile {
    padding: 0px 20%;
    background: #eee;
}
.profile .section1 {
    background: white;
    padding-bottom: 20px;
}
.profile .section1 .section11 .profilepic {
    margin-left: 10px;
    margin-top: -40px;
    float: left;
    position: relative;
    border: 5px solid #eee;
    background-color: white;
}
.profile .section1 .section11 .photoleft {
    float: left;
    padding-left: 10px;
}
.profile .section1 .section11 .photoright {
    float: right;
    padding-right: 10px;
    margin-top: 5px;
}
.profile .section1 .section11 .photoright .followBtn,.profile .section1 .section11 .photoright .messageBtn{
    padding: 8px 30px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 15px;
}

.profile .section1 .section11 .photoright .followBtn{
    background-color: tomato;
}
.profile .section1 .section11 .photoright .messageBtn{
    background-color: teal;
}
.profile .section1 .section11 .photoright .followBtn:hover{
    opacity: 0.8;
}
.profile .section1 .section11 .photoright .messageBtn:hover{
    opacity: 0.8;
}

.profile .section2 {
    background: white;
    margin-top: 20px;
    padding: 10px;
}

.profile .section3{
    display: flex;
    justify-content: space-between;
}
.profile .section3 .leftSection3{
    background: white;
    margin-top: 20px;
    padding: 10px;
    flex-grow: 1;
}
.profile .section3 .rightSection3{
    background: white;
    margin-top: 20px;
    padding: 10px;
    margin-left: 20px;
    flex-grow: 1;
}
/* 
.profile .sectionLast .postMain {
    background: white;
    margin-top: 20px;
    padding: 10px;
}
.profile .sectionLast .postMain .postHeader {
    padding: 0px 0px 8px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.4);
}

.profile .sectionLast .postMain .postBody {
    padding: 8px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.4);
}
.profile .sectionLast .postMain .postBody pre{
    white-space:pre-wrap;
    text-align: justify;
}

.profile .sectionLast .postMain .postFooter {
    padding: 8px 0px;
} */

.profile .sectionLast .postHeader {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,.08);
    margin-bottom: 10px;
}
.profile .sectionLast .postMain {
    background: white;
    margin-top: 18px;
    box-shadow: 1px 1px 3px 1px #ccc;
    border-radius: 5px;
}
.profile .sectionLast .postFooter{
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    margin-top: 10px;
}
.profile .sectionLast .postFooter .postFooterSec1{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,.08);
}
.profile .sectionLast .postFooter .postFooterSec1 button{
    flex-grow: 1;
}
.profile .sectionLast .postFooter .commentDiv {
    padding: 10px;
}
.profile .sectionLast .postFooter .commentDiv .commentRow {
    margin-bottom: 8px;
    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.profile .sectionLast .postFooter .commentDiv>form {
    display: flex;
}
.profile .sectionLast .postFooter .commentDiv .commentInputText{
    font-size: 13px;
    flex-grow: 1;
    width: 100%;
    padding: 0 5px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 0;
}
.profile .sectionLast .postFooter .commentDiv .commentInputText:focus{
    outline: 0;
}
.profile .sectionLast .postFooter .commentDiv .commentSubmitBtn{
    padding: 8px 25px;
    border: 0;
    background-color: rgb(122, 31, 3);
    color: white;
    font-size: 13px;
    cursor: pointer;
}
.profile .sectionLast .postMain .postBody pre{
    white-space:pre-wrap;
    text-align: justify;
}

.profile .sectionLast .readMorePosts{
    margin-top: 10px;
    padding: 8px 20px;
    background: coral;
    border: 0;
    color: white;
    cursor: pointer;
}

.profile .sectionLastPannel{
    width: 19%;
    background: white;
    padding: 10px 0px;
    float: right;
    min-height: 600px;
    box-shadow: -1px 1px 3px 1px #ccc;
}

.FloatingDiv{
    position: fixed;
    top: 10%;
    left: 25%;
    background: white;
    width: 700px;
    height: 500px;
    border: 2px solid grey;
    padding: 10px;
}